@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p>
        <a asp-controller="User" asp-action="getUsers">Ver utilizadores</a></p>
    <p>
        <a asp-controller="User" asp-action="RegisterUser">Registo</a></p>
    <p><a asp-controller="User" asp-action="UserLogin">Login</a></p>
</div>
