
@{
    ViewData["Title"] = "Frigorifico";
}

<div class="container">
    <section class="clean-block features">
        <h1 class="text-center" style="margin-top: 89px;margin-left: 10px;color: #3b99e0!important;">Frigorífico</h1>
    </section>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:13px;"></th>
                    <th>Alimento</th>
                    <th>Quantidade</th>
                    <th>Data de Expiração</th>
                </tr>
            </thead>
            <tbody> <!-- Insert for each of data -->
                <tr>
                    <td class="float-none"><i class="fa fa-remove" style="color:red;"></i></td>
                    <td>polpa de tomate</td>
                    <td>14</td>
                    <td>24/04/2016</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary float-right" type="button">Adicionar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


