
@{
    ViewData["Title"] = "Procurar receita";
}

<div class="article-list" style="margin-bottom: 241px;">
    <div class="container">
        <div class="block-content" style="text-align:center;">
            <h2 class="text-info" style="margin-top: 72px;">Receitas</h2>
            <p>Procure a sua receita favorita!</p><input type="search" value="..." style="width:515px;"><button class="btn btn-primary" type="button">Procurar</button>
        </div>
        <div class="row articles">
            <!--for each to create each article-->
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="assets/img/Receita-de-Bacalhau-com-natas.jpg" style="height: 203px;"></a>
                <h3 class="name">Bacalhau com Natas</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                <div><i class="fa fa-heart" style="color:gray;"></i></div><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="assets/img/img_818x455$2016_05_23_17_16_18_538270.jpg"></a>
                <h3 class="name">Tripas à moda do Porto</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                <div><i class="fa fa-heart" style="color:gray;"></i></div><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="assets/img/240723_original.jpg"></a>
                <h3 class="name">Ovos mexidos</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                <div><i class="fa fa-heart" style="color:gray;"></i></div><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
fq