
@{
    ViewData["Title"] = "ReceitaPasso";
}
<section class="clean-block clean-post dark">
    <h1 class="text-center" style="color: rgb(249,63,35);">Bacalhau com Natas</h1>
    <div class="container">
        <div class="block-content">
            <h2 style="text-align: center;color: #3b99e0!important;padding-top: 5px;margin-top: 8px;"><a href="#"><i class="fa fa-arrow-left" style="padding-right:5px;color:gray;"></i></a>Passo 1&nbsp;<a href="#"><i class="fa fa-arrow-right" style="padding-right:5px;color:gray;"></i></a></h2>
            <div class="post-body">
                <p class="text-center" style="font-size: 17px;"><br>500 g batata&nbsp;<br>125 ml azeite + qb para fritar&nbsp;<br>400 g bacalhau&nbsp;<br>40 g manteiga&nbsp;<br>40 g farinha<br><br></p>
            </div>
        </div>
    </div>

</section>
