
@{
    ViewData["Title"] = "ReceitaIntegra";
}

<section class="clean-block clean-post dark" style="margin-bottom: 48px;">
    <div class="container">
        <button class="btn btn-primary" type="button">Voltar ao Preview</button>
        <div class="block-content">
            <h2 style="text-align:center;color:#3b99e0!important;padding-top:5px;"><a href="#"></a>Receita na íntegra</h2>
            <div class="post-body">
                <!-- Data to represent when model is in scope
                    <h3>Bacalhau com Natas</h3>
                <p><strong>Ingredientes:</strong></p>
                <ul>
                    <li><strong>500</strong>&nbsp;<strong>g</strong>&nbsp;batata<br></li>
                    <li><strong>125</strong>&nbsp;<strong>ml</strong>&nbsp;azeite + qb para fritar<br></li>
                    <li><strong>400</strong>&nbsp;<strong>g</strong>&nbsp;bacalhau<br></li>
                    <li><strong>40</strong>&nbsp;<strong>g</strong>&nbsp;manteiga<br></li>
                    <li><strong>40</strong>&nbsp;<strong>g</strong>&nbsp;farinha<br></li>
                </ul>
                <p><strong>Valor nutritivo: </strong>300kcal</p>
                <h3>Confecção</h3>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>1.&nbsp;</strong>Pré-aqueça o forno a 220º C.<br></label></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>2.&nbsp;</strong>Corte as batatas em cubos e frite-as em azeite.<br></label></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>3.&nbsp;</strong>Coloque o bacalhau num tacho e cubra-o com água. Leve-o a cozinhar em lume alto, quando levantar fervura baixe o lume e cozinhe 5 minutos.<br></label></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>4.&nbsp;</strong>Retire o bacalhau da água e reserve 200 ml da água. Deixe arrefecer o bacalhau, retire-lhe a pele e as espinhas e desfie-o em lascas.<br></label></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>5.&nbsp;</strong>Leve ao lume um tacho, coloque a manteiga até derreter. Junte a farinha e mexa muito bem. Aos poucos, sem parar de mexer, vá juntando a água de cozer o bacalhau reservada, o leite e as natas. Quando começar a ferver, tempere com sal, pimenta, noz-moscada e umas gotas de limão. Envolva bem todos os ingredientes e retire do lume. Reserve.<br></label></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>6.&nbsp;</strong>Num outro tacho, coloque 100 ml de azeite e deixe refogar as cebolas, os alhos e a folha de louro. Adicione o bacalhau, mexa e deixe refogar um pouco.<br></label></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>7.&nbsp;</strong>Junte as batatas e envolva bem. Depois, acrescente 2/3 do molho béchamel, mexa bem retire do lume e reserve.<br></label></div>
                -->
                    <button class="btn btn-primary" type="button" style="margin-top:15px;float:right;">
                    Terminar
                </button>
            </div>
        </div>
    </div>
</section>
