@model Cookle.Models.User

@{
    ViewData["Title"] = "Plano Semanal";
}

<section class="clean-block clean-pricing dark" style="background-color: #f6f6f6;margin-top: 44px;">
    <div class="container" style="margin-top: -14px;">
        <h2 class="text-info" style="margin-top: 96px;text-align: center;">Plano Semanal</h2>
        <div class="table-responsive" style="margin-top: 16px;">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:13px;"></th>
                    <th>Receita</th>
                </tr>
                </thead>
                <tbody>
                @{
                    foreach (Plano p in Model.Planos)
                    {
                        <tr>
                            <td class="float-none"><a asp-controller="" asp-action="" asp-route-id="@p.ReceitaId"><i class="fa fa-remove" style="color:red;"></i></a></td>
                            <td>@p.Receita.Nome</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
