@model Cookle.Models.Passo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Passo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceitaId" class="control-label"></label>
                <select asp-for="ReceitaId" class ="form-control" asp-items="ViewBag.ReceitaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubReceitaId" class="control-label"></label>
                <select asp-for="SubReceitaId" class ="form-control" asp-items="ViewBag.SubReceitaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
